body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 95px;
}

div.panel {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:70px;
  background: #fff;
  border-bottom: 2px solid #333;
}

table {
  width: 100%;
}
table, td {
  border: 1px solid #ccc;
  border-spacing: 0;
}

.dec, .hex, .char {
  width: 70px;
}
th.dec, th.hex, th.char {
  width: 70px;
  display: inline-block;
}

tbody.header {
  position:fixed;
  top:71px;
  left:0;
  width: 100%;
  background: #000;
}

th {
  font-weight: normal;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  text-align: left;
  text-indent:1em;
}

tr.voiceSelected td {
  background: #00AA00;
  color: #fff;
}
tr.mouseSelected td {
  background: #DDD;
  color: #000;
}

td.char {
  text-align:center;
}
